/*
 Used on the nav buttons - makes the entire div hyperlinked. 
 */
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/*
 Provides styling info for the map.
 Based on example code by 'SAGAR MANE' found at https://stackoverflow.com/questions/30190346/how-to-make-google-map-responsive-inside-any-div-element
 */
#map {
	position: relative;
	overflow: hidden;
	padding: 0;
	float: inherit;
	height: 800px;
	width: 97.65%;
}