
/*
 Reviews
 */

.review_header {
    font-family: 'Arial Rounded MT';
    font-size: large;
    margin-left: 5px;
}

.review_container {
    width: 350px;
    height: 600px;
    overflow-y: scroll;
}

.review_box {
    width: 300px;
    height: 75px;
    background-color: #808080;
    margin: 5px;
}

.review_title {
    font-style: italic;
    font-family: 'Arial Rounded MT';
    font-size: medium;
    padding-top: 5px;
    margin: 5px;
    margin-top: 10px;
}

.review_text {
    font-family: 'Arial Rounded MT';
    font-size: small;
    margin: 5px;
}

/*
 Misc.
 */

.main_buttons_no_stretch {
	max-width: 120px;
	max-height: 102px;
}

/*
 Drop-down - courtsey of W3
 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}